{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Create Your Character
{% endblock %}

{% block content %}

    {% if player.avatar == "yes" %}

    <div style="width:110px; height:115px"  id="avatar"></div>

    {% endif %}

    {% formfield player.gender label="Gender" %}
    <p></p>
    {% formfield player.strength label="Strength" %}
    {% formfield player.agility label="Agility" %}
    {% formfield player.stamina label="Stamina" %}
    {% formfield player.intelligence label="Intelligence" %}
    {% formfield player.charisma label="Charisma" %}
    <p>
    <button style="color: rgb(255,255,255); background-color: rgb(0,123,255);" type="button" class="btn btn-info" data-toggle="collapse" id="button" data-target="#demo">Generate!</button>
    <p></p>
    {% formfield player.accept_character label="I have finished creating my character and and would like to proceed." %}
    <p></p>
    {% next_button %}

{% endblock %}

{% block scripts %}
    <script>
        $('#id_agility').attr('autocomplete', 'off');
        $('#id_strength').attr('autocomplete', 'off');
        $('#id_stamina').attr('autocomplete', 'off');
        $('#id_intelligence').attr('autocomplete', 'off');
        $('#id_charisma').attr('autocomplete', 'off');
    </script>

    <script>
        $('#button').on('click', function() {
            var strength = $('input[name=strength]').val();
            var agility = $('input[name=agility]').val();
            var stamina = $('input[name=stamina]').val();
            var intelligence = $('input[name=intelligence]').val();
            var charisma = $('input[name=charisma]').val();
            strength = strength || "0";
            agility = agility || "0";
            stamina = stamina || "0";
            intelligence = intelligence || "0";
            charisma = charisma || "0";
            var total = parseInt(strength) + parseInt(agility) + parseInt(stamina) + parseInt(intelligence) + parseInt(charisma);
            var trait = strength + agility + stamina + intelligence + charisma;
            var selected = $("#id_gender option:selected").html();
            if (selected == 'Male') {
                var gender = 'male'
            } else if (selected == 'Female') {
                var gender = 'female'
            } else {
                var gender = 'identicon'
            }

            if (total == 100 && gender != 'identicon') {
				$('#avatar').replaceWith('<object width="110" height="110"  id="avatar"  data="https://avatars.dicebear.com/v2/' + gender +'/' + trait +'.svg" type="image/svg+xml"></object>');
			} else {
				$('#avatar').replaceWith('<div style="width:110px; height:115px"  id="avatar"></div>');



			}
        });
    </script>

{% endblock %}